@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme palette (Figma) */
  --bg: 13 27 42;        /* #0D1B2A  глибокий синьо-сірий */
  --surface: 27 38 59;   /* #1B263B  темний синій */
  --primary: 65 90 119;  /* #415A77  середній синій */
  --secondary: 119 141 169; /* #778DA9 світлий синій */
  --accent: 240 238 233; /* #F0EEE9  Cloud Dancer */

  /* Text */
  --text: 240 238 233;      /* світлий текст */
  --text-dark: 13 27 42;    /* темний текст */
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--text));
}

